@{
    ViewData["Title"] = "Creditos";
}
<div class="imgCredit">
    <div class="imgCredit-container">
        <pre>
        Maia Kupersmid
        </pre>
        <img class= "imgCredit" src="/Imagenes/maiaRubia.png" alt="maia" height="300px" width="auto">
    </div> 
    <div class="imgCredit-container">
        <pre>
        Julieta Izbicki
        </pre> 
        <img class="imgCredit" src="/Imagenes/juliMorocha.png" alt="juli" height="300px" width="auto"> 
    </div> 
    
</div>
