<div>
    Hay un problema con la view de este programa, su parte de HTML está intacta, pero para verla a la perfección nos falta algo de su estética… 
    <br>
    <img class="img" src="/imagenes/CSS.png" alt="">
      <form method="post" action="~/Home/Habitacion">
        <input class="form-control" type="text" placeholder="Respuesta" name="clave" autocomplete="off">
        <input type="number" value="3" hidden name="sala">
        <button class="btn btn-secondary" type="submit">Validar</button>
        <button class="btn btn-secondary" onclick="alert('Pista: Hojas de estilo en cascada')">Pista</button>
    </form>
</div>