<div>
    Estás en la primera función, Sin embargo, sus clases estáticas están custodiadas por una serpiente, para poder pasar, vas a tener que responder a su pregunta correctamente: "¿qué lenguaje soy?"
    <img class="img" src="/imagenes/phyton.png" alt="">
    <form method="post" action="~/Home/Habitacion">
        <input class="form-control" type="text" placeholder="Respuesta" name="clave">
        <input type="number" value="1" hidden name="sala">
        <button class="btn btn-secondary" type="submit">Validar</button>
    </form>
</div>
