<div>
    Estás en la primera función, Sin embargo, sus clases estáticas están custodiadas por una serpiente, para poder pasar, vas a tener que responder a su pregunta correctamente: "¿qué lenguaje soy?"
    <img class="img" src="/imagenes/phyton.png" alt="">
</div>
