<div>
  <center><h1>Habitación 3: La RAM</h1></center>
    Hay un problema con la view de este programa, su parte de HTML está intacta, pero para verla a la perfección nos falta algo de su estética… 
    <br>
    <center><img class="img" src="/imagenes/CSS.png" alt="" width="auto" height="400px"></center>
    <br>
    <form method="post" action="~/Home/Habitacion">
        <input class="form-control" type="text" required placeholder="Respuesta" name="clave" autocomplete="off">
        <input type="number" value="3" hidden name="sala">
        <br>
        <center><button class="btn btn-secondary" type="submit">Validar</button></center>
    </form>
    <br>
    <center><button class="btn btn-secondary" onclick="alert('Pista: Hojas de estilo en cascada')">Pista 1</button> </center>
    <br>
    <center><button class="btn btn-secondary" onclick="alert('Pista: Un lenguaje de diseño gráfico')">Pista 2</button></center>
</div>