<div>
    Hay un problema con la view de este programa, su parte de HTML está intacta, pero para verla a la perfección nos falta algo de su estética… 
    <img class="img" src="/imagenes/CSS.png" alt="">
</div>