<div>
    Ya accediste al código completo. Resulta que este lo único que hace el programa es mostrar memes programadores, pero hay un problema, algunos están incompletos,deberás ir completándolos para avanzar: 
- Conquistar a una programadora es difícil, el otro dia lo intente y no se …
</div>