<div>
  <center><h1>Habitación 4: El procesador</h1></center>
   Por último, no te olvides del atajo para guardar este código, si se llega a borrar, te perdemos
    <center><img class="img" src="/imagenes/CtrlS.png" alt="" width="650px" height="auto"></center>
    <br>
    <form method="post" action="~/Home/Habitacion">
        <input class="form-control" type="text" required placeholder="Respuesta" name="clave" autocomplete="off">
        <input type="number" value="4"  hidden name="sala">
        <br>
        <center><button class="btn  btn-success btn-lg" type="submit">Validar</button></center>
    </form>
    <br>
    <center><button class="btn btn-secondary" onclick="alert('Pista: Se usa para guardar cambios en un archivo')">Pista 1</button></center>
    <br>
    <center><button class="btn btn-secondary" onclick="alert('Pista: Es un atajo del teclado')">Pista 2</button></center>
</div>