<div>
    <center><h1>Habitación 1: La mother</h1></center>
    Estás en la primera función, Sin embargo, sus clases estáticas están custodiadas por una serpiente, para poder pasar, vas a tener que responder a su pregunta correctamente: "¿qué lenguaje soy?"
   <br>
    <center><img class="img" src="/imagenes/phyton.png" alt=""></center>
    <br>
    <form method="post" action="~/Home/Habitacion">
        <input class="form-control" type="text" required placeholder="Respuesta" name="clave" autocomplete="off">
        <input type="number" value="1" hidden name="sala">
        <br>
        <center><button class="btn btn-secondary" type="submit">Validar</button></center>
    </form>
    <br>
    <center><button class="btn btn-secondary" onclick="alert('Pista: Es un tipo de serpiente')">Pista 1</button></center>
    <br>
    <center><button class="btn btn-secondary" onclick="alert('Pista: Empieza con P')">Pista 2</button></center>
</div>

