@{
    ViewData["Title"] = "Home Page";
}

<div>
Actualmente, te encuentras dentro de un programa roto. El doctor programador Asman te encerró dentro de su código para que no conquistes el mundo con tu sabiduría informática.
Para salir deberás responder correctamente 4 acertijos del complicado código del programador arreglando su líneas para que el código en el que te encuentras se ejecute correctamente 
Deberás ingresar correctamente la clave pedida, podrás pedir hasta 3 pistas durante todo tu recorrido.
Pero cuidado, si el programa no se ejecuta correctamente, podrás quedar encerrado en el código para siempre
Confiamos en que posees el conocimiento necesario como para descifrar sus trampas, adelante, el mundo depende de tu conocimiento. 
</div>
