@{
    ViewData["Title"] = "Tutorial";
}

<div>
    Para una mejor experiencia recomendamos jugar esta sala de escape de manera individual, requiere de conocimientos informáticos básicos para poder salir de esta sala.
    Para pedir una pista podes apretar el boton 'PISTA' y se te dará una, tenes tres pistas por sala. Obviamente sería más divertido si no necesitas ninguna.
    Como mencionamos en la presentación del juego, esta sala de escape contiene 4 habitaciónes con un acertijo o meme incompleto en relación a la programación y deberás decifrarlo para pasar a la próxima sala.
    Te deseamos mucha suerte, nos vemos a la salida!
</div>
