<div>
    <h1>Felicidades lograste salir del codigo del villano!!</h1>
    <h3>Ahora es tu turno de salvar el mundo</h3>
    <center><img class="img" src="/imagenes/festejo.png" alt="" width="500px" height="auto"></center>
</div>